.title h1 {
  color: rgb(39, 39, 39);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  font-size: 2rem;
}

.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
}

.mainTitle {
  text-align: center;
  margin: auto;
  margin-top: 2rem;
  padding: 6px 3px;
  border: 1px solid lightblue;
  width: 270px;
}

.shadow {
  display: grid;
  place-items: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 800;
  position: relative;
  margin: 200px auto 0;
  width: 700px;
  height: 350px;
  background: #15202b;
}

.shadow {
  display: grid;
  place-items: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;
  position: relative;
  margin-top: 12px;
  width: 80%;
  height: 154px;
  background: #15202b;
}

.shadow::before,
.shadow::after {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  background: linear-gradient(
    45deg,
    black,
    black,
    black,
    yellow,
    #ffff00,
    black,
    #ffff00,
    #ffff00
  );
  background-size: 300%;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  z-index: -1;
  animation: animate 25s linear infinite;
}

.shadow::after {
  filter: blur(25px);
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 300% 0;
  }

  100% {
    background-position: 0 0;
  }
}
/* 
@media screen and (max-width: 768px) {
  .main {
  }
} */
